body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.main{
    width: 95vw;
    margin: auto;

    padding: 10px;
    background-color: bisque;

    box-sizing: border-box;
    box-shadow: 3px 3px 3px goldenrod;
}

header{
    background-image: url("../images/christmas_santa_claus_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 64px;
    background-color: green;
    color: aliceblue;
}

header h2{
    text-indent: 64px;
}

header span{
    font-size: 0.6em;
    color: orange;
    font-style: italic;
}

nav{
    box-sizing: border-box;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.1em;

    padding: 0 20px;
}

a:hover{
    background-color: green;
    color: antiquewhite;
}

img.main{
    width: 100%;
}

footer{
    padding: 15px 0px;   /* top=bottom=15px ; left=right=0px  */
    text-align: center;
    border-top: groove linen medium;

    background-color: chocolate;
    color: beige;

    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}

